::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(76, 77, 61, 1);
}
body{
background-color: navy;
background: repeating-linear-gradient(65deg, yellow 20px, black 60px, yellow 110px, black 160px, yellow 200px, black 240px, yellow 290px, black 320px);
background-image: repeating-linear-gradient(65deg, yellow 20px, black 60px, yellow 110px, black 160px, yellow 200px, black 240px, yellow 290px, black 320px);
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: navy;
color: #FFFFFF;
}
