::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
body{
background-color: navy;
background: repeating-linear-gradient(65deg, purple 20px, indigo 60px, blue 110px, purple 160px, indigo 200px, navy 240px, indigo 290px, purple 320px);
background-image: repeating-linear-gradient(65deg, purple 20px, indigo 60px, blue 110px, purple 160px, indigo 200px, navy 240px, indigo 290px, purple 320px);
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: navy;
color: #FFFFFF;
}
